/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

header,
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

nav,
aside {
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
}

nav {
    padding-top: 15px;
    font-size: 20px;
}

aside {
    padding: 20px;
    clear: both;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

article {
    margin-bottom: 32px;
    color: #ffffff;
}

img {
    max-height: 200px;
}

/* Class Selectors */
.seo {
    color: #d9dcd6;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.icon {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.box {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}